.dot{
    height: 56px;
    width: 69px;
    border-radius: 50%;
    margin-top: 8rem;
    margin-left: 3rem;
    background-color: black;
    position: absolute;
    color: white;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    display: flex;
}

.example-card {
    max-width: 400px;
  }
  