<!--  #e7ce85 -->
<div style="height: 100%; width: 100%;">

<div class="jonahStyle" style="padding-top: 3rem; padding-left: 2rem; padding-right: 2rem; text-align: center; font-size: 20px;" fxLayout="column" fxLayoutGap="10px">

    <div fxFlex>
        <p> 
            It all began seven years ago in 2014. Natalie and Stephen were working at Abercrombie Kids. They worked together for 
            a few months, and one day, Natalie brought in a homemade apple pie. Stephen worked in the stock room and had a few 
            pieces and thought it was amazing! He hugged Natalie for the first time because he loved the pie so much.
        </p>
    </div>
    <div fxFlex>
        <p> 
            They love trying new restaurants, finding new activities around Arizona, and traveling. They had countless adventures
            together- sorority date parties, trips to Japan, Colorado, Northern Arizona, Michigan, and Disneyland.
        </p>
    </div>
    <div fxFlex>
        <p> 
            A trip to Vancouver, Canada and Seattle was planned for March 2020. They were unsure if it was going to happen with busineses 
            beginning to close due to COVID. It ended up being the perfect time to go because not many people were out! First, they went 
            to Vancouver. They arrived on March 8th and Stephen wanted to propose that day because it was their 5 year anniversary, but 
            Natalie had other plans and things she wanted to see. On March 9th, they went to Queen Elizabeth Park. It was a beautiful, clear 
            day. Stephen planned with a photographer to capture the moment. The photographer asked to take pictures of them and Stephen got 
            down on one knee and Natalie said yes! They can't wait for this exciting new chapter to begin!
        </p>
    </div>
    
</div>
    
</div>