/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
    overflow-x: hidden;
}
body { margin: 0;}

  
.bg {
    /* The image used */
    background-image: url(./assets/images/mountains-background.jpg);
    // background-image: url(./assets/images/natalie-bg-img.png);
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg3 {
    /* The image used */
    // background-image: url(./assets/images/mountains-background.jpg);
    background-image: url(./assets/images/natalie-bg-img.png);
    /* Full height */
   
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bg4 {
    /* The image used */
    // background-image: url(./assets/images/mountains-background.jpg);
    background-image: url(./assets/images/natalie-bg-img.png);
    /* Full height */
   height: 80%;
    /* Center and scale the image nicely */
    background-position: center; 
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bg5 {
    /* The image used */
    // background-image: url(./assets/images/mountains-background.jpg);
    background-image: url(./assets/images/natalie-bg-img.png);
    /* Full height */
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
@media only screen and (max-width: 599px){
    .bg {
        /* The image used */
        background-image: url(./assets/images/mountains-background.jpg);
        /* Full height */
        height: 100%;
    
        /* Center and scale the image nicely */
        background-position: unset;
        background-repeat: no-repeat;
        background-size: unset;

        background-position: -12rem -1rem;
    }

    .bg4 {
       height: 90%;
    }

    
}
  
@font-face{
    font-family: myCursiveFont;
    src: url('./assets/fonts/Apples\ Script\ Demo.ttf');
}

@font-face{
    font-family: jonahFont;
    src: url('./assets/fonts/JonahAFYL-Light.ttf');
}

.jonahStyle{
    font-family: jonahFont;
    font-weight: bold;
}

.jonahStyle-header{
    font-family: jonahFont;
    font-weight: bold;
    font-size: 30px;
}

.jonahStyle-faq{
    font-family: jonahFont;
    font-weight: bold;
    font-size: 20px;
}

.jonahStyle-faq-ans{
    font-family: jonahFont;
    font-weight: bold;
    font-size: 16px;
}


.cursiveStyle{
    font-family: myCursiveFont;
    font-weight: bold;
}
