<div class="bg5" style="width: 100%;">
<!-- height: 74%; -->
    <!-- <div class="thebox2" style="border: 5px outset rgb(231,206,133, .7); width: 600px; background-color: white; padding: 2rem 1rem; margin-top: 3rem;"> -->
    <div style="justify-content: center; display: flex;">
        <div class="thebox2" style="width: 600px;  padding: 0rem 1rem; margin-top: 3rem;">
            <div style="border: 5px outset rgb(231,206,133, .7); background-color: white; padding: 1rem 1rem 0rem 1rem;">
                <div class="jonahStyle-header" style="text-align: center;">Accommodations</div>
                    
                <div fxLayout="column" fxLayoutGap="5px" class="jonahStyle-faq" style="justify-content: center; text-align: center; margin-top: 1.5rem;">
                    <div>
                        For your convenience we have negotiated group rates at
                    </div>
                    <div>
                        The Scottsdale Plaza Resort
                    </div>
                </div>

                <div class="jonahStyle-faq"  fxLayout="column" fxLayoutGap="5px"  style="margin-top: 1.5rem; justify-content: center; text-align: center;">
                    <div>
                        The Scottsdale Plaza Resort
                    </div>
                    <div>
                        7200 North Scottsdale Road
                    </div>
                    <div>
                        Scottsdale, Arizona 85253
                    </div>
                </div>
                <div class="jonahStyle-faq"  fxLayout="column" fxLayoutGap="5px" style="margin-top: 1.5rem; justify-content: center; text-align: center;">
                    <div>Please mention</div>
                    <div>
                        Henes and Tafoya Wedding
                    </div>
                    <div>
                        when calling Guest Reservations at <a href="tel:800-832-2025" style="text-decoration: underline;">(800) 832-2025</a>
                    </div>
                </div>
                <div class="jonahStyle-faq"  fxLayout="column" fxLayoutGap="5px" style="margin-top: 1.5rem; justify-content: center; text-align: center;">
                    <div>You can alternatively go to</div>
                    <div style="text-decoration: underline;">
                        <a href="http://bookings.ihotelier.com/bookings.jsp?groupID=3231613&hotelID=96928" target="_blank" rel="noopener noreferrer">Henes and Tafoya Wedding</a>
                    </div>
                    <div>
                        to make your to make your reservations online
                    </div>
                </div>
                <div class="jonahStyle-faq"  fxLayout="column" fxLayoutGap="5px" style="margin-top: 1.5rem; margin-bottom: 2rem; justify-content: center; text-align: center;">
                    <div>Please make your reservations</div>
                    <div>as soon as possible</div>
                </div>
            </div>
        </div>
    </div>

    <div class="jonahStyle-header" style="justify-content: center; display: flex; padding-top: 3rem;">
        Brunch
    </div>
    <div class="carousel-container">
        
            <div class="wrapper" fxHide fxHide.xs fxHide.sm fxShow.md fxShow.lg fxShow.xl>
                
                <div class="carousel-inner" #carousel>
                    <ng-container *ngFor="let rest of restaurants.restaurants; let i = index">
                        <ng-container *ngIf="rest.type === 'brunch'">
                            <mat-card class="example-card">
                                <img mat-card-image style="width: 200px; height: 200px; margin-bottom: 0 !important;" src="../../assets/images/brunch/brunch-{{i+1}}.jpg">
                                <mat-divider inset></mat-divider>
                                <mat-card-content style="padding-top:10px;">
                                <p>
                                    {{rest.name}}
                                </p>
                                </mat-card-content>
                            </mat-card>
                        </ng-container>
                    </ng-container>
                </div>

                <div class="button-container">
                    <button class="button-space" mat-flat-button (click)="prev()">Prev</button>
                    <button mat-flat-button (click)="next()">Next</button>
                </div>
                
            </div>

            <div class="wrapper-sm" fxShow fxShow.xs fxShow.sm fxHide.md fxHide.lg fxHide.xl>
            
                <div class="carousel-inner-sm" #carouselSm>
                    <ng-container *ngFor="let rest of restaurants.restaurants; let i = index">
                        <ng-container *ngIf="rest.type === 'brunch'">
                            <mat-card class="example-card-sm">
                                <img mat-card-image style="width: 315px; height: 200px; margin-bottom: 0 !important;" src="../../assets/images/brunch/brunch-{{i+1}}.jpg">
                                <mat-divider inset></mat-divider>
                                <mat-card-content style="padding-top:10px;">
                                <p>
                                    {{rest.name}}
                                </p>
                                </mat-card-content>
                            </mat-card>
                        </ng-container>
                    </ng-container>
                </div>

                <div class="button-container">
                    <button class="button-space" mat-flat-button (click)="prevSm()">Prev</button>
                    <button  mat-flat-button (click)="nextSm()">Next</button>
                </div>

            </div>
        
    </div>

    <div class="jonahStyle-header" style="justify-content: center; display: flex; padding-top: 3rem;">
        American
    </div>
    <div class="carousel-container">
        
        <div class="wrapper" fxHide fxHide.xs fxHide.sm fxShow.md fxShow.lg fxShow.xl>
                <div class="carousel-innerA" #carouselA>
                    <ng-container *ngFor="let rest of americanRestaurants.restaurants; let i = index">
                            <mat-card class="example-card">
                                {{i+1}}
                                <img mat-card-image style="width: 200px; height: 200px; margin-bottom: 0 !important;" src="../../assets/images/american/american-{{i+1}}.jpg">
                                <mat-divider inset></mat-divider>
                                <mat-card-content style="padding-top:10px;">
                                <p>
                                    {{rest.name}}
                                </p>
                                </mat-card-content>
                            </mat-card>
                    </ng-container>
                </div>

                <div>
                    <button (click)="nextA()">Next</button>
                    <button (click)="prevA()">Prev</button>
                </div>

        </div>

        <div class="wrapper-sm" fxShow fxShow.xs fxShow.sm fxHide.md fxHide.lg fxHide.xl>
                
                <div class="carousel-inner-sm" #carouselASM>
                    <ng-container *ngFor="let rest of americanRestaurants.restaurants; let i = index">
                            <mat-card class="example-card-SM">
                                <img mat-card-image style="width: 315px; height: 200px; margin-bottom: 0 !important;" src="../../assets/images/american/american-{{i+1}}.jpg">
                                <mat-divider inset></mat-divider>
                                <mat-card-content style="padding-top:10px;">
                                <p>
                                    {{rest.name}}
                                </p>
                                </mat-card-content>
                            </mat-card>
                    </ng-container>
                </div>

                <div>
                    <button (click)="nextAsM()">Next</button>
                    <button (click)="prevAsM()">Prev</button>
                </div>


        </div>
    
    </div>

    <div class="jonahStyle-header" style="justify-content: center; display: flex; padding-top: 3rem;">
        Asian
    </div>
    <div class="carousel-container">
        
        <div class="wrapper" fxHide fxHide.xs fxHide.sm fxShow.md fxShow.lg fxShow.xl>
            
            <div class="carousel-innerAs" #carouselAs>
                <ng-container *ngFor="let rest of asianRestaurants.restaurants; let i = index">
                        <mat-card class="example-card">
                            <img mat-card-image style="width: 200px; height: 200px; margin-bottom: 0 !important;" src="../../assets/images/asian/asian-{{i+1}}.jpg">
                            <mat-divider inset></mat-divider>
                            <mat-card-content style="padding-top:10px;">
                            <p>
                                {{rest.name}}
                            </p>
                            </mat-card-content>
                        </mat-card>
                </ng-container>
            </div>

            <div>
                <button (click)="nextAs()">Next</button>
                <button (click)="prevAs()">Prev</button>
            </div>

        </div>

        <div class="wrapper-sm" fxShow fxShow.xs fxShow.sm fxHide.md fxHide.lg fxHide.xl>

            <div class="carousel-inner-sm" #carouselAsSm>
                <ng-container *ngFor="let rest of asianRestaurants.restaurants; let i = index">
                        <mat-card class="example-card-sm">
                            <img mat-card-image style="width: 315px; height: 200px; margin-bottom: 0 !important;" src="../../assets/images/asian/asian-{{i+1}}.jpg">
                            <mat-divider inset></mat-divider>
                            <mat-card-content style="padding-top:10px;">
                            <p>
                                {{rest.name}}
                            </p>
                            </mat-card-content>
                        </mat-card>
                </ng-container>
            </div>

            <div>
                <button (click)="nextAsSm()">Next</button>
                <button (click)="prevAsSm()">Prev</button>
            </div>

        </div>
    
    </div>

    <div class="jonahStyle-header" style="justify-content: center; display: flex; padding-top: 3rem;">
        Italian
    </div>
    <div class="carousel-container">
        
        <div class="wrapper" fxHide fxHide.xs fxHide.sm fxShow.md fxShow.lg fxShow.xl>
            
            <div class="carousel-inner">
                <ng-container *ngFor="let rest of italianRestaurants.restaurants; let i = index">
                        <mat-card class="example-card">
                            <img mat-card-image style="width: 200px; height: 200px; margin-bottom: 0 !important;" src="../../assets/images/italian/italian-{{i+1}}.jpg">
                            <mat-divider inset></mat-divider>
                            <mat-card-content style="padding-top:10px;">
                            <p>
                                {{rest.name}}
                            </p>
                            </mat-card-content>
                        </mat-card>
                </ng-container>
            </div>
        </div>

        <div class="wrapper-sm" fxShow fxShow.xs fxShow.sm fxHide.md fxHide.lg fxHide.xl>
            <div class="carousel-inner-sm" #carouselItSm>
                <ng-container *ngFor="let rest of italianRestaurants.restaurants; let i = index">
                        <mat-card class="example-card-sm">
                            <img mat-card-image style="width: 315px; height: 200px; margin-bottom: 0 !important;" src="../../assets/images/italian/italian-{{i+1}}.jpg">
                            <mat-divider inset></mat-divider>
                            <mat-card-content style="padding-top:10px;">
                            <p>
                                {{rest.name}}
                            </p>
                            </mat-card-content>
                        </mat-card>
                </ng-container>
            </div>

            <div>
                <button (click)="nextItSm()">Next</button>
                <button (click)="prevItSm()">Prev</button>
            </div>
        </div>

    </div>

    <div class="jonahStyle-header" style="justify-content: center; display: flex; padding-top: 3rem;">
        Mexican and Seafood
    </div>
    <div class="carousel-container">
        
        <div class="wrapper" fxHide fxHide.xs fxHide.sm fxShow.md fxShow.lg fxShow.xl>
            <div class="carousel-inner">
                <ng-container *ngFor="let rest of mexSeaRestaurants.restaurants; let i = index">
                        <mat-card class="example-card">
                            <img mat-card-image style="width: 200px; height: 200px; margin-bottom: 0 !important;" src="../../assets/images/mex/mex-{{i+1}}.jpg">
                            <mat-divider inset></mat-divider>
                            <mat-card-content style="padding-top:10px;">
                            <p>
                                {{rest.name}}
                            </p>
                            </mat-card-content>
                        </mat-card>
                </ng-container>
            </div>
        </div>

        <div class="wrapper-sm" fxShow fxShow.xs fxShow.sm fxHide.md fxHide.lg fxHide.xl>
            <div class="carousel-inner-sm" #carouselMexSm>
                <ng-container *ngFor="let rest of mexSeaRestaurants.restaurants; let i = index">
                        <mat-card class="example-card-sm">
                            <img mat-card-image style="width: 315px; height: 200px; margin-bottom: 0 !important;" src="../../assets/images/mex/mex-{{i+1}}.jpg">
                            <mat-divider inset></mat-divider>
                            <mat-card-content style="padding-top:10px;">
                            <p>
                                {{rest.name}}
                            </p>
                            </mat-card-content>
                        </mat-card>
                </ng-container>
            </div>

            <div>
                <button (click)="nextMexSm()">Next</button>
                <button (click)="prevMexSm()">Prev</button>
            </div>
        </div>

    </div>

    <div class="jonahStyle-header" style="justify-content: center; display: flex; padding-top: 3rem;">
        Healthy/Vegetarian
    </div>
    <div class="carousel-container">
        
        <div class="wrapper" fxHide fxHide.xs fxHide.sm fxShow.md fxShow.lg fxShow.xl>
            <div class="carousel-inner">
                <ng-container *ngFor="let rest of healthyRestaurants.restaurants; let i = index">
                        <mat-card class="example-card">
                            <img mat-card-image style="width: 200px; height: 200px; margin-bottom: 0 !important;" src="../../assets/images/healthy/health-{{i+1}}.jpg">
                            <mat-divider inset></mat-divider>
                            <mat-card-content style="padding-top:10px;">
                            <p>
                                {{rest.name}}
                            </p>
                            </mat-card-content>
                        </mat-card>
                </ng-container>
            </div>
        </div>

        <div class="wrapper-sm" fxShow fxShow.xs fxShow.sm fxHide.md fxHide.lg fxHide.xl>
            <div class="carousel-inner-sm" #carouselHealthySm>
                <ng-container *ngFor="let rest of healthyRestaurants.restaurants; let i = index">
                        <mat-card class="example-card-sm">
                            <img mat-card-image style="width: 315px; height: 200px; margin-bottom: 0 !important;" src="../../assets/images/healthy/health-{{i+1}}.jpg">
                            <mat-divider inset></mat-divider>
                            <mat-card-content style="padding-top:10px;">
                            <p>
                                {{rest.name}}
                            </p>
                            </mat-card-content>
                        </mat-card>
                </ng-container>
            </div>

            <div>
                <button (click)="nextHealthySm()">Next</button>
                <button (click)="prevHealthySm()">Prev</button>
            </div>
        </div>

    </div>

</div>

    <!-- <div class="thebox2" style="border: 5px outset rgb(231,206,133, .7); width: 600px; height: 300px; background-color: white; padding: 2rem 1rem; margin-top: 3rem;">
        <div class="jonahStyle-header">Accommodations</div>
        <div fxLayout="row" class="jonahStyle-faq" style="justify-content: center; text-align: center;">
            <div fxLayout="column">
                <div>
                    For your conveniece we have negotiated group rates at
                </div>
                <div>
                    The Scottsdale Plaze Resort
                </div>
            </div>
        </div>
        <div fxLayout="row" class="jonahStyle-faq" style="justify-content: center; text-align: center;">
            <div fxLayout="column" style="margin-top: 1rem;">
                <div>
                    The Scottsdale Plaza Resort
                </div>
                <div>
                    7200 North Scottsdale Road
                </div>
                <div>
                    Scottsdale, Arizona 85253
                </div>
            </div>
        </div>
        <div fxLayout="row" class="jonahStyle-faq" style="justify-content: center; text-align: center;">
            <div fxLayout="column" style="margin-top: 1rem; margin-bottom: .5rem;">
                <div>Please mention</div>
                <div>
                    Henes and Tafoya Wedding
                </div>
                <div>
                    when calling Guest Reservations at <a href="tel:800-832-2025">(800) 832-2025</a>
                </div>
            </div>
        </div>
        
    </div> -->


    
    <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3326.9770717989286!2d-111.92625238446972!3d33.50197365397332!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872b0bbcf25c4671%3A0xb04e371179d32182!2sSushi%20Roku%20Scottsdale!5e0!3m2!1sen!2sus!4v1623949552943!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe> -->
