<div class="bg5" style="width: 100%;">
<!-- height: 74%; -->
    <!-- <div class="thebox2" style="border: 5px outset rgb(231,206,133, .7); width: 600px; background-color: white; padding: 2rem 1rem; margin-top: 3rem;"> -->
    <div style="justify-content: center; display: flex;">
        <div class="thebox2" style="width: 600px; margin-left: 2rem; margin-right: 2rem; margin-top: 3rem;">
            <div style="border: 5px outset rgb(231,206,133, .7); background-color: white; padding: 1rem 1rem 0rem 1rem;">
                <div class="jonahStyle-header" style="text-align: center;">Accommodations</div>
                    
                <div fxLayout="column" fxLayoutGap="5px" class="jonahStyle-faq" style="justify-content: center; text-align: center; margin-top: 1.5rem;">
                    <div>
                        For your convenience we have negotiated group rates at
                    </div>
                    <div>
                        The Scottsdale Plaza Resort
                    </div>
                </div>

                <div class="jonahStyle-faq"  fxLayout="column" fxLayoutGap="5px"  style="margin-top: 1.5rem; justify-content: center; text-align: center;">
                    <div>
                        The Scottsdale Plaza Resort
                    </div>
                    <div>
                        7200 North Scottsdale Road
                    </div>
                    <div>
                        Scottsdale, Arizona 85253
                    </div>
                </div>
                <div class="jonahStyle-faq"  fxLayout="column" fxLayoutGap="5px" style="margin-top: 1.5rem; justify-content: center; text-align: center;">
                    <div>Please mention</div>
                    <div>
                        Henes and Tafoya Wedding
                    </div>
                    <div>
                        when calling Guest Reservations at <a href="tel:800-832-2025" style="text-decoration: underline;">(800) 832-2025</a>
                    </div>
                </div>
                <div class="jonahStyle-faq"  fxLayout="column" fxLayoutGap="5px" style="margin-top: 1.5rem; justify-content: center; text-align: center;">
                    <div>You can alternatively go to</div>
                    <div style="text-decoration: underline;">
                        <a href="http://bookings.ihotelier.com/bookings.jsp?groupID=3231613&hotelID=96928" target="_blank" rel="noopener noreferrer">Henes and Tafoya Wedding</a>
                    </div>
                    <div>
                        to make your to make your reservations online
                    </div>
                </div>
                <div class="jonahStyle-faq"  fxLayout="column" fxLayoutGap="5px" style="margin-top: 1.5rem; margin-bottom: 2rem; justify-content: center; text-align: center;">
                    <div>Please make your reservations</div>
                    <div>as soon as possible</div>
                </div>
            </div>
        </div>
    </div>

    <div class="jonahStyle-header" style="justify-content: center; display: flex; padding-top: 5rem; padding-bottom: 1rem;">
        Restaurant Reccomendations
    </div>

    <div class="jonahStyle-header" style="justify-content: center; display: flex; padding-top: 3rem;">
        Brunch
    </div>
    <div class="carousel-container">
        
            <div class="wrapper" fxHide fxHide.xs fxHide.sm fxShow.md fxShow.lg fxShow.xl>
                
                <div class="carousel-inner" #carousel>
                    <ng-container *ngFor="let rest of restaurants.restaurants; let i = index">
                        <ng-container *ngIf="rest.type === 'brunch'">
                            <mat-card class="example-card">
                                <img mat-card-image style="width: 200px; height: 200px; margin-bottom: 0 !important;" src="../../assets/images/brunch/brunch-{{i+1}}.jpg">
                                <mat-divider inset></mat-divider>
                                <mat-card-content style="padding-top:10px;">
                                <p>
                                    {{rest.name}}
                                </p>
                                </mat-card-content>
                            </mat-card>
                        </ng-container>
                    </ng-container>
                </div>

                <div class="button-container">
                    <button class="button-space" mat-flat-button (click)="prev()">Prev</button>
                    <button mat-flat-button (click)="next()">Next</button>
                </div>
                
            </div>

            <div class="wrapper-sm" fxShow fxShow.xs fxShow.sm fxHide.md fxHide.lg fxHide.xl>
            
                <div class="carousel-inner-sm" #carouselSm>
                    <ng-container *ngFor="let rest of restaurants.restaurants; let i = index">
                        <ng-container *ngIf="rest.type === 'brunch'">
                            <mat-card class="example-card-sm">
                                <img mat-card-image style="width: 315px; height: 200px; margin-bottom: 0 !important;" src="../../assets/images/brunch/brunch-{{i+1}}.jpg">
                                <mat-divider inset></mat-divider>
                                <mat-card-content style="padding-top:10px;">
                                <p>
                                    {{rest.name}}
                                </p>
                                </mat-card-content>
                            </mat-card>
                        </ng-container>
                    </ng-container>
                </div>

                <div class="button-container">
                    <button class="button-space" mat-flat-button (click)="prevSm()">Prev</button>
                    <button  mat-flat-button (click)="nextSm()">Next</button>
                </div>

            </div>
        
    </div>

    <div class="jonahStyle-header" style="justify-content: center; display: flex; padding-top: 3rem;">
        American
    </div>
    <div class="carousel-container">
        
        <div class="wrapper" fxHide fxHide.xs fxHide.sm fxShow.md fxShow.lg fxShow.xl>
                <div class="carousel-innerA" #carouselA>
                    <ng-container *ngFor="let rest of americanRestaurants.restaurants; let i = index">
                            <mat-card class="example-card">
                                {{i+1}}
                                <img mat-card-image style="width: 200px; height: 200px; margin-bottom: 0 !important;" src="../../assets/images/american/american-{{i+1}}.jpg">
                                <mat-divider inset></mat-divider>
                                <mat-card-content style="padding-top:10px;">
                                <p>
                                    {{rest.name}}
                                </p>
                                </mat-card-content>
                            </mat-card>
                    </ng-container>
                </div>

                <div class="button-container">
                    <button class="button-space" mat-flat-button (click)="prevA()">Prev</button>
                    <button mat-flat-button (click)="nextA()">Next</button>
                </div>

        </div>

        <div class="wrapper-sm" fxShow fxShow.xs fxShow.sm fxHide.md fxHide.lg fxHide.xl>
                
                <div class="carousel-inner-sm" #carouselASM>
                    <ng-container *ngFor="let rest of americanRestaurants.restaurants; let i = index">
                            <mat-card class="example-card-SM">
                                <img mat-card-image style="width: 315px; height: 200px; margin-bottom: 0 !important;" src="../../assets/images/american/american-{{i+1}}.jpg">
                                <mat-divider inset></mat-divider>
                                <mat-card-content style="padding-top:10px;">
                                <p>
                                    {{rest.name}}
                                </p>
                                </mat-card-content>
                            </mat-card>
                    </ng-container>
                </div>

                <div class="button-container">
                    <button class="button-space" mat-flat-button (click)="prevAsM()">Prev</button>
                    <button mat-flat-button (click)="nextAsM()">Next</button>
                </div>


        </div>
    
    </div>

    <div class="jonahStyle-header" style="justify-content: center; display: flex; padding-top: 3rem;">
        Asian
    </div>
    <div class="carousel-container">
        
        <div class="wrapper" fxHide fxHide.xs fxHide.sm fxShow.md fxShow.lg fxShow.xl>
            
            <div class="carousel-innerAs" #carouselAs>
                <ng-container *ngFor="let rest of asianRestaurants.restaurants; let i = index">
                        <mat-card class="example-card">
                            <img mat-card-image style="width: 200px; height: 200px; margin-bottom: 0 !important;" src="../../assets/images/asian/asian-{{i+1}}.jpg">
                            <mat-divider inset></mat-divider>
                            <mat-card-content style="padding-top:10px;">
                            <p>
                                {{rest.name}}
                            </p>
                            </mat-card-content>
                        </mat-card>
                </ng-container>
            </div>

            <div class="button-container">
                <button class="button-space" mat-flat-button (click)="prevAs()">Prev</button>
                <button mat-flat-button (click)="nextAs()">Next</button>
            </div>

        </div>

        <div class="wrapper-sm" fxShow fxShow.xs fxShow.sm fxHide.md fxHide.lg fxHide.xl>

            <div class="carousel-inner-sm" #carouselAsSm>
                <ng-container *ngFor="let rest of asianRestaurants.restaurants; let i = index">
                        <mat-card class="example-card-sm">
                            <img mat-card-image style="width: 315px; height: 200px; margin-bottom: 0 !important;" src="../../assets/images/asian/asian-{{i+1}}.jpg">
                            <mat-divider inset></mat-divider>
                            <mat-card-content style="padding-top:10px;">
                            <p>
                                {{rest.name}}
                            </p>
                            </mat-card-content>
                        </mat-card>
                </ng-container>
            </div>

            <div class="button-container">
                <button class="button-space" mat-flat-button (click)="prevAsSm()">Prev</button>
                <button mat-flat-button (click)="nextAsSm()">Next</button>
            </div>

        </div>
    
    </div>

    <div class="jonahStyle-header" style="justify-content: center; display: flex; padding-top: 3rem;">
        Italian
    </div>
    <div class="carousel-container">
        
        <div class="wrapper" fxHide fxHide.xs fxHide.sm fxShow.md fxShow.lg fxShow.xl>
            
            <div class="carousel-inner">
                <ng-container *ngFor="let rest of italianRestaurants.restaurants; let i = index">
                        <mat-card class="example-card">
                            <img mat-card-image style="width: 200px; height: 200px; margin-bottom: 0 !important;" src="../../assets/images/italian/italian-{{i+1}}.jpg">
                            <mat-divider inset></mat-divider>
                            <mat-card-content style="padding-top:10px;">
                            <p>
                                {{rest.name}}
                            </p>
                            </mat-card-content>
                        </mat-card>
                </ng-container>
            </div>
        </div>

        <div class="wrapper-sm" fxShow fxShow.xs fxShow.sm fxHide.md fxHide.lg fxHide.xl>
            <div class="carousel-inner-sm" #carouselItSm>
                <ng-container *ngFor="let rest of italianRestaurants.restaurants; let i = index">
                        <mat-card class="example-card-sm">
                            <img mat-card-image style="width: 315px; height: 200px; margin-bottom: 0 !important;" src="../../assets/images/italian/italian-{{i+1}}.jpg">
                            <mat-divider inset></mat-divider>
                            <mat-card-content style="padding-top:10px;">
                            <p>
                                {{rest.name}}
                            </p>
                            </mat-card-content>
                        </mat-card>
                </ng-container>
            </div>

            <div class="button-container">
                <button class="button-space" mat-flat-button (click)="prevItSm()">Prev</button>
                <button mat-flat-button (click)="nextItSm()">Next</button>
            </div>
        </div>

    </div>

    <div class="jonahStyle-header" style="justify-content: center; display: flex; padding-top: 3rem;">
        Mexican and Seafood
    </div>
    <div class="carousel-container">
        
        <div class="wrapper" fxHide fxHide.xs fxHide.sm fxShow.md fxShow.lg fxShow.xl>
            <div class="carousel-inner">
                <ng-container *ngFor="let rest of mexSeaRestaurants.restaurants; let i = index">
                        <mat-card class="example-card">
                            <img mat-card-image style="width: 200px; height: 200px; margin-bottom: 0 !important;" src="../../assets/images/mex/mex-{{i+1}}.jpg">
                            <mat-divider inset></mat-divider>
                            <mat-card-content style="padding-top:10px;">
                            <p>
                                {{rest.name}}
                            </p>
                            </mat-card-content>
                        </mat-card>
                </ng-container>
            </div>
        </div>

        <div class="wrapper-sm" fxShow fxShow.xs fxShow.sm fxHide.md fxHide.lg fxHide.xl>
            <div class="carousel-inner-sm" #carouselMexSm>
                <ng-container *ngFor="let rest of mexSeaRestaurants.restaurants; let i = index">
                        <mat-card class="example-card-sm">
                            <img mat-card-image style="width: 315px; height: 200px; margin-bottom: 0 !important;" src="../../assets/images/mex/mex-{{i+1}}.jpg">
                            <mat-divider inset></mat-divider>
                            <mat-card-content style="padding-top:10px;">
                            <p>
                                {{rest.name}}
                            </p>
                            </mat-card-content>
                        </mat-card>
                </ng-container>
            </div>

            <div class="button-container">
                <button class="button-space" mat-flat-button (click)="prevMexSm()">Prev</button>
                <button mat-flat-button (click)="nextMexSm()">Next</button>
            </div>
        </div>

    </div>

    <div class="jonahStyle-header" style="justify-content: center; display: flex; padding-top: 3rem;">
        Healthy/Vegetarian
    </div>
    <div class="carousel-container">
        
        <div class="wrapper" fxHide fxHide.xs fxHide.sm fxShow.md fxShow.lg fxShow.xl>
            <div class="carousel-inner">
                <ng-container *ngFor="let rest of healthyRestaurants.restaurants; let i = index">
                        <mat-card class="example-card">
                            <img mat-card-image style="width: 200px; height: 200px; margin-bottom: 0 !important;" src="../../assets/images/healthy/health-{{i+1}}.jpg">
                            <mat-divider inset></mat-divider>
                            <mat-card-content style="padding-top:10px;">
                            <p>
                                {{rest.name}}
                            </p>
                            </mat-card-content>
                        </mat-card>
                </ng-container>
            </div>
        </div>

        <div class="wrapper-sm" fxShow fxShow.xs fxShow.sm fxHide.md fxHide.lg fxHide.xl>
            <div class="carousel-inner-sm" #carouselHealthySm>
                <ng-container *ngFor="let rest of healthyRestaurants.restaurants; let i = index">
                        <mat-card class="example-card-sm">
                            <img mat-card-image style="width: 315px; height: 200px; margin-bottom: 0 !important;" src="../../assets/images/healthy/health-{{i+1}}.jpg">
                            <mat-divider inset></mat-divider>
                            <mat-card-content style="padding-top:10px;">
                            <p>
                                {{rest.name}}
                            </p>
                            </mat-card-content>
                        </mat-card>
                </ng-container>
            </div>

            <div class="button-container">
                <button class="button-space" mat-flat-button (click)="prevHealthySm()">Prev</button>
                <button mat-flat-button (click)="nextHealthySm()">Next</button>
            </div>
        </div>

    </div>

    <div class="jonahStyle-header" style="justify-content: center; display: flex; padding-top: 3rem;">
        Things To Do
    </div>
    <div class="places-container">
        <ng-container *ngFor="let place of places.places">
    
    
            
                <mat-accordion>
                    <mat-expansion-panel hideToggle style="margin-bottom: .5rem;">
                      <mat-expansion-panel-header>
                        <mat-panel-title class="jonahStyle-faq">
                          {{place.title}}
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <ng-container *ngIf="place.description !== ''">
                        <p class="jonahStyle-faq-ans">
                            {{place.description}}
                        </p>
                      </ng-container>
                      <p class="jonahStyle-faq-ans">
                        <a href="{{place.url}}" target="_blank" style="text-decoration: underline;">Check it out!</a>
                    </p>
                    </mat-expansion-panel>
            
                  </mat-accordion>
    
    
    
        </ng-container>
    </div>

</div>