<div class="bg4" style="width: 100%;">
    <div class="jonahStyle-header" style="justify-content: center; display: flex; padding-top: 3rem;">
        <div fxLayout="column">
            <div style="text-align: center;">
                Registry
            </div>
            <mat-card fxFlex class="example-card thebox2" style="background-color: rgb(231,206,133, .7); margin-top: 2rem;">
                <img mat-card-image src="../../assets/images/zola.png" alt="Zola">
                <mat-card-content style="justify-content: center; display: flex;">
                    <a mat-raised-button href="https://www.zola.com/registry/henestafoyawedding2021" target="_blank">Shop Our Registry</a>
                </mat-card-content>
            </mat-card>
        </div>
        
    </div>
</div>