<mat-toolbar class="tb-height">

    <mat-toolbar-row class="alignment" fxLayout="row" fxFlexAlign="center" style="margin-top: 80px;">
        <div class="sizeof-text">Natalie and Stephen</div>
    </mat-toolbar-row>

    <mat-toolbar-row fxLayout="row" fxFlexAlign="center" fxLayoutGap.lg="40px" fxLayoutGap.md="30px" fxLayoutGap="20px" style="justify-content: center;">
        <div>
            <a [routerLink]="['/home']">Home</a>
        </div>
        <div>Our Story</div>
        <div>The Details</div>
        <div>Travel</div>
        <div>Registry</div>
        <div>RSVP</div>
    </mat-toolbar-row>

</mat-toolbar>