.example-card {
    max-width: 400px;
  }

  .bg2 {
    /* The image used */
    background-image: url(../../assets/images/chorro_1.jpg);
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .thebox2{
    box-shadow: 0 .32rem .32rem 0 rgb(0,0,0, 10%);
}

.faq-container{
    padding-top: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 10rem;
}

@media only screen and (max-width: 599px){
    .faq-container{
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media only screen and (min-width: 600px) and (max-width: 959px) {
    // .header-text{
    //     font-size: 34px;
    // }
    // .body-text{
    //     font-size: 20px; 
    // }

    .top-marg{
      margin-top: 2rem;
    }
}