
<div class="bg2">
    <div class="jonahStyle" style="font-size:30px; background-color: rgb(0,0,0,.5); width: 100%; height: 100%; justify-content: center; align-items: center; display: flex; color: white; font-weight: bold;">
        <div fxLayout="column" fxLayoutGap="20px" style="text-align: center;">
            <div>
                El Chorro
            </div>
            <div>
                5550 E Lincoln Drive
            </div>
            <div>
                Paradise Valley, AZ 85253
            </div>
            <div>
              Ceremony at 4pm
          </div>
        </div>
    </div>
</div>






<!-- <div class="bg3" style="height: 100%; width: 100%;"> -->

<div class="bg3" style="padding-top: 3rem; padding-left: 2rem; padding-right: 2rem;">
    <div style="justify-content: center; display: flex;">
        <div class="jonahStyle-header">Bridesmaids</div>
    </div>

    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="30px" style="padding-top: 2rem;">
        <mat-card fxFlex class="example-card thebox2">
            <mat-card-header>
              <mat-card-title>Cassidy Dillworth</mat-card-title>
              <mat-card-subtitle class="jonahStyle">Maid of Honor</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/images/cassidy.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                <span class="jonahStyle">
                    Cassidy and Natalie have been twinning since 2013 in Kappa Alpha Theta. They have traveled all over Europe, visited three Disney parks together,
                    and had countless adventures throughout the years.
                </span>
              </p>
            </mat-card-content>
          </mat-card>

          <mat-card fxFlex class="example-card thebox2">
            <mat-card-header>
              <mat-card-title>Catherine Bullington</mat-card-title>
              <mat-card-subtitle class="jonahStyle">Bridesmaid</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/images/bm_2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                <span class="jonahStyle">
                  Catherine and Natalie ran track and cross-country in high school. They endured the practices with hills,
                   running up South Mountain, and the Beast, and occasionally carpooled. Theta brought them back together again in college. 
                </span>
              </p>
            </mat-card-content>
          </mat-card>
        </div>



        <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="30px" style="padding-top: 2rem;">
          <mat-card fxFlex class="example-card thebox2">
            <mat-card-header>
              <mat-card-title>Melissa Kin</mat-card-title>
              <mat-card-subtitle class="jonahStyle">Bridesmaid</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/images/bm_1.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                <span class="jonahStyle">
                  Melissa is Natalie’s older cousin. She was always looked up to with her great sense of fashion, athletic soccer skills, big heart, and advice. 
                </span>
              </p>
            </mat-card-content>
          </mat-card>

          <mat-card fxFlex class="example-card thebox2">
            <mat-card-header>
              <mat-card-title>Alyssa Tafoya</mat-card-title>
              <mat-card-subtitle class="jonahStyle">Bridesmaid</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/images/bm_3.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                <span class="jonahStyle">
                  Alyssa is Stephen’s younger sister. Natalie, Stephen, and Alyssa share a love for travel and trying new foods and drinks wherever they go.
                </span>
              </p>
            </mat-card-content>
          </mat-card>
    </div>

    <!-- Groomesman -->

    <div style="justify-content: center; display: flex; margin-top: 3rem;">
      <div class="jonahStyle-header">Groomsmen</div>
    </div>

    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="30px" style="padding-top: 2rem;">
      <mat-card fxFlex class="example-card thebox2">
        <mat-card-header>
          <mat-card-title>Mike Dodge</mat-card-title>
          <mat-card-subtitle class="jonahStyle">Best Man</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/images/gm_2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            <span class="jonahStyle">
              Mike is Stephen’s older brother.  He is known for being adventurous, telling entertaining stories 
              and getting stuck in trees.
            </span>
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card fxFlex class="example-card thebox2">
        <mat-card-header>
          <mat-card-title>Quentin Kareiva</mat-card-title>
          <mat-card-subtitle class="jonahStyle">Groomsman</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/images/gm_1.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            <span class="jonahStyle">
              Quentin and Stephen have been friends since middle school. If they weren’t playing basketball or hanging out with each other, 
              they would probably be playing video games.
            </span>
          </p>
        </mat-card-content>
      </mat-card>
    

      <!-- <mat-card fxFlex class="example-card thebox2">
        <mat-card-header>
          <mat-card-title>Quentin Kareiva</mat-card-title>
          <mat-card-subtitle class="jonahStyle">Groomsmen</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/images/gm_1.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            <span class="jonahStyle">
              Quentin and Stephen have been friends since middle school. If they weren’t playing basketball or hanging out with each other, 
              they would probably be playing video games.
            </span>
          </p>
        </mat-card-content>
      </mat-card> -->
  </div>

  <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="30px" style="padding-top: 2rem;">
    <mat-card fxFlex class="example-card thebox2">
      <mat-card-header>
        <mat-card-title>Kollen Dillworth</mat-card-title>
        <mat-card-subtitle class="jonahStyle">Groomsman</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../assets/images/gm_3.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          <span class="jonahStyle">
            Kollen and Stephen met through Cassidy and Natalie. They go bowling, play tennis, 
            and shoot hoops together. They are always looking up tips and tricks on Youtube, to improve their skills.
          </span>
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card fxFlex class="example-card thebox2">
      <mat-card-header>
        <mat-card-title>Xavier Henes</mat-card-title>
        <mat-card-subtitle class="jonahStyle">Groomsman</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../assets/images/gm_4.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          <span class="jonahStyle">
            Xavier is Natalie’s younger, but not so little brother. He has been in Copenhagen, Denmark since February 2019 
            studying for his Master’s and working with a pharmaceutical company. Stephen and Xav both love biking and cooking.
          </span>
        </p>
      </mat-card-content>
    </mat-card>
</div>



<div class="faq-container">
    <div style="justify-content: center; display: flex; padding-bottom: 2rem;">
        <div class="jonahStyle-header">FAQ's</div>
    </div>

    <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title class="jonahStyle-faq">
              What is the dress code?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="jonahStyle-faq-ans">
            It is formal/black-tie optional. We cannot wait to see everyone dressed up! Our reception will be taking place outside. 
            Please note, the ceremony and cocktail hour will be hosted outside and the weather will be in the high 80s. It should be sunny 
            and warm, but bring a wrap or jacket for after sundown when it will be in the 50s.
            </p>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title class="jonahStyle-faq">
                Are kids welcome?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="jonahStyle-faq-ans">As much as we love your little ones, this will be an adults-only celebration. We hope this advance notice means you’re able to let your 
                hair down and celebrate with us on the day!</p>
          </mat-expansion-panel>

          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title class="jonahStyle-faq">
                Who can I contact with any additional questions?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="jonahStyle-faq-ans">Please email us: <span style="text-decoration: underline;">tiedtotafoya@gmail.com</span> and we will contact you as soon as possible!</p>
          </mat-expansion-panel>

          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title class="jonahStyle-faq">
                What time should I be there?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="jonahStyle-faq-ans">Please arrive by 4pm at the Event Lawn, the ceremony will begin promptly. Reception will begin at 6pm in Casa Paloma.</p>
          </mat-expansion-panel>

          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title class="jonahStyle-faq">
                Where can i park?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="jonahStyle-faq-ans">Click to view the map. Please park near the Event Lawn.</p>
            <p class="jonahStyle-faq-ans"> <a href="https://elchorro.com/property_map.pdf" target="_blank">El Chorro Map</a></p>
          </mat-expansion-panel>


      </mat-accordion>

</div>

</div>



