<!-- <div class="background-container">
    <img style="width:90%; height:100%" src="../assets/images/mountains-background.jpg">
</div> -->

<div class="bg">
    <div style="height: 100%; width: 100%;">
    
        <div class="jonahStyle" fxLayout="column" style="text-align: center; padding-left: 2rem; padding-right: 2rem; padding-top: 3rem;">
            <div class="header-text" fxFlex> 
                Natalie and Stephen are getting married!
            </div>
        
            <div class="body-text body-pad" fxFlex> 
                Welcome to our wedding website, we can't wait to celebrate our special day with you.
            </div>
        
            <div class="body-text" fxFlex style="padding-top: 1rem;"> 
                We've created this website as a convenient and interactive way to share all of the important details with you
                in the lead up to our wedding. It will be updated occasionally with more information.
            </div>
        
            <div class="body-text" fxFlex style="padding-top: 1rem;"> 
                Finally - thank you for your ongoing love and support. We are so excited to share this day with you and look
                forward to dancing the night away with all of our favorite people!
            </div>
        </div>
    </div>
</div>





    <!-- <div style="width: 100%; background-color: maroon; justify-content: center; display: flex;">
        <div style="border-radius: 25px; width: 50%; background-color: cyan; padding-left: 1rem; padding-right: 1rem; margin-top: -3rem;">
            <div fxLayout="column" fxLayoutGap="30px">
                <div fxFlex fxFlexAlign="center"> 
                    Natalie and Stephen are getting married!
                </div>
            
                <div fxFlex fxFlexAlign="center" style="text-align: center;"> 
                    Welcome to our wedding website, we can't wait to celebrate our special day with you.
                </div>
            
                <div fxFlex fxFlexAlign="center" style="text-align: center;"> 
                    We've created this website as a convenient and interactive way to share all of the important details with you
                    in the lead up to our wedding. It will be updated occasionally with more information.
                </div>
            
                <div fxFlex fxFlexAlign="center" style="text-align: center;"> 
                    Finally - thank you for your ongoing love and support. We are so excited to share this day with you and look
                    forward to dancing the night away with all of our favorite people!
                </div>
            </div>
        </div>

    </div> -->




