
<mat-sidenav-container class="example-container example-is-mobile">

  <mat-sidenav #sidenav mode="over">
    <mat-list>
      <mat-list-item> 
        <a [routerLink]="['/home']">Home</a> 
      </mat-list-item>
      <mat-list-item> 
        <a [routerLink]="['/our-story']">Our Story</a> 
      </mat-list-item>
      <mat-list-item> 
        The Details
      </mat-list-item>
      <mat-list-item> 
        Travel
      </mat-list-item>
      <mat-list-item> 
        Registry
      </mat-list-item>
      <mat-list-item> 
        RSVP
      </mat-list-item>
     </mat-list>
  </mat-sidenav>

  <mat-sidenav-content class="example-sidenav-container">

    <mat-toolbar class="tb-height Header-info" fxHide.xs="true">
      <mat-toolbar-row class="alignment" fxLayout="row" fxFlexAlign="center">
          <div class="sizeof-text">Natalie & Stephen</div>
      </mat-toolbar-row>
  
      <mat-toolbar-row fxHide.xs="true" fxLayout="row" fxFlexAlign="center" fxLayoutGap.lg="40px" fxLayoutGap.md="30px" fxLayoutGap="20px" style="justify-content: center;">
          <div>
              <a [routerLink]="['/home']">Home</a>
          </div>
          <div>
              <a [routerLink]="['/our-story']">Our Story</a>
          </div>
          <div>The Details</div>
          <div>Travel</div>
          <div>Registry</div>
          <div>RSVP</div>
      </mat-toolbar-row>

    </mat-toolbar>

    <mat-toolbar class="tb-height-mobile Header-info" fxLayout="row" fxHide.sm="true" fxHide.md="true" fxHide.lg="true" fxHide.xl="true">

      <mat-toolbar-row class="alignment-mobile">
        <div class="sizeof-text-mobile">Natalie & Stephen</div>
      </mat-toolbar-row>

      <mat-toolbar-row class="alignment-mobile" style="justify-content: flex-end;">
        <div>
          <button mat-icon-button [ngStyle]="{'color': 'black'}" aria-label="Example icon button with a menu icon" (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>

</mat-sidenav-container>
