
<mat-sidenav-container class="example-container example-is-mobile">

  <mat-sidenav #sidenav mode="over" style="background-color: rgb(231,206,133);">
    <mat-list>
      <mat-list-item> 
          <div class="cursiveStyle" style="font-size: 20px;">N & S</div>
          
            <mat-divider [inset]="true"></mat-divider>
      </mat-list-item>
      <mat-list-item> 
        <a class="jonahStyle" style="font-size: 20px;" mat-button [routerLink]="['/home']">Home</a> 
      </mat-list-item>
      <mat-list-item> 
        <a class="jonahStyle" style="font-size: 20px;" mat-button [routerLink]="['/our-story']">Our Story</a> 
      </mat-list-item>
      <mat-list-item> 
        <a class="jonahStyle" style="font-size: 20px;" mat-button [routerLink]="['/details']">Wedding Details</a> 
      </mat-list-item>
      <mat-list-item> 
        <a class="jonahStyle" style="font-size: 20px;" mat-button [routerLink]="['/details']">Travel</a> 
      </mat-list-item>
      <mat-list-item> 
        <a class="jonahStyle" style="font-size: 20px;" mat-button [routerLink]="['/details']">Registry</a> 
      </mat-list-item>
      <mat-list-item> 
        <a class="jonahStyle" style="font-size: 20px;" mat-button [routerLink]="['/details']">Rsvp</a> 
      </mat-list-item>
     </mat-list>
  </mat-sidenav>

  <mat-sidenav-content class="example-sidenav-container" style="background-color: #f0f0f0;">

    <mat-toolbar class="tb-height Header-info thebox" fxHide.xs="true" style="background-color: rgb(231,206,133, .7);">
      <mat-toolbar-row class="alignment" fxLayout="row" fxFlexAlign="center">
          <div class="sizeof-text" style="font-family: myCursiveFont; font-weight: bold;">Natalie & Stephen</div>
      </mat-toolbar-row>
  
      <mat-toolbar-row class="jonahStyle" fxHide.xs="true" fxLayout="row wrap" fxFlexAlign="center" fxLayoutGap.lg="40px" fxLayoutGap.md="30px" fxLayoutGap="20px" style="justify-content: center;">
          <div>
            <a class="jonahStyle" style="font-size: 20px;" mat-button [routerLink]="['/home']">
              Home
            </a>
              <!-- <a [routerLink]="['/home']">Home</a> -->
          </div>
          <div>
              <a class="jonahStyle" style="font-size: 20px;" mat-button [routerLink]="['/our-story']">Our Story</a>
          </div>
          <div>
            <a class="jonahStyle" style="font-size: 20px;" mat-button [routerLink]="['/details']">Wedding Details</a>
          </div>
          <div>
            <a class="jonahStyle" style="font-size: 20px;" mat-button [routerLink]="['/details']"> Travel</a>
          </div>
          <div class="jonahStyle" style="font-size: 20px;" mat-button [routerLink]="['/details']">
            <a class="jonahStyle" style="font-size: 20px;" mat-button [routerLink]="['/details']"> Registry</a>
          </div>
          <div class="jonahStyle" style="font-size: 20px;" mat-button [routerLink]="['/details']">
            <a class="jonahStyle" style="font-size: 20px;" mat-button [routerLink]="['/details']"> Rsvp</a>
          </div>
      </mat-toolbar-row>

    </mat-toolbar>

    <mat-toolbar class="tb-height-mobile Header-info" fxLayout="row" fxHide.sm="true" fxHide.md="true" fxHide.lg="true" fxHide.xl="true" style="background-color: rgb(231,206,133, .7);">

      <mat-toolbar-row class="alignment-mobile">
        <div class="sizeof-text-mobile" style="font-family: myCursiveFont; font-weight: bold;">Natalie & Stephen</div>
      </mat-toolbar-row>

      <mat-toolbar-row class="alignment-mobile" style="justify-content: flex-end; padding-left: 0;">
        <div>
          <button mat-icon-button [ngStyle]="{'color': 'black'}" aria-label="Example icon button with a menu icon" (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>

</mat-sidenav-container>
