
<mat-sidenav-container class="example-container example-is-mobile">

  <mat-sidenav #sidenav mode="over" style="background-color: rgb(231,206,133);">
    <mat-list>
      <mat-list-item> 
        <a [routerLink]="['/home']">Home</a> 
      </mat-list-item>
      <mat-list-item> 
        <a [routerLink]="['/our-story']">Our Story</a> 
      </mat-list-item>
      <mat-list-item> 
        <a [routerLink]="['/details']">Wedding Details</a> 
      </mat-list-item>
      <mat-list-item> 
        Travel
      </mat-list-item>
      <mat-list-item> 
        Registry
      </mat-list-item>
      <mat-list-item> 
        RSVP
      </mat-list-item>
     </mat-list>
  </mat-sidenav>

  <mat-sidenav-content class="example-sidenav-container" style="background-color: #f0f0f0;">

    <mat-toolbar class="tb-height Header-info thebox" fxHide.xs="true" style="background-color: rgb(231,206,133, .7);">
      <mat-toolbar-row class="alignment" fxLayout="row" fxFlexAlign="center">
          <div class="sizeof-text" style="font-family: myCursiveFont; font-weight: bold;">Natalie & Stephen</div>
      </mat-toolbar-row>
  
      <mat-toolbar-row class="jonahStyle" fxHide.xs="true" fxLayout="row" fxFlexAlign="center" fxLayoutGap.lg="40px" fxLayoutGap.md="30px" fxLayoutGap="20px" style="justify-content: center;">
          <div>
              <a [routerLink]="['/home']">Home</a>
          </div>
          <div>
              <a [routerLink]="['/our-story']">Our Story</a>
          </div>
          <div>
            <a [routerLink]="['/details']">Wedding Details</a>
          </div>
          <div>Travel</div>
          <div>Registry</div>
          <div>RSVP</div>
      </mat-toolbar-row>

    </mat-toolbar>

    <mat-toolbar class="tb-height-mobile Header-info" fxLayout="row" fxHide.sm="true" fxHide.md="true" fxHide.lg="true" fxHide.xl="true" style="background-color: rgb(231,206,133, .7);">

      <mat-toolbar-row class="alignment-mobile">
        <div class="sizeof-text-mobile">Natalie & Stephen</div>
      </mat-toolbar-row>

      <mat-toolbar-row class="alignment-mobile" style="justify-content: flex-end;">
        <div>
          <button mat-icon-button [ngStyle]="{'color': 'black'}" aria-label="Example icon button with a menu icon" (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>

</mat-sidenav-container>
